@use "sass:map";
@use "sass:math";
@import "../../../theme/common/var.scss";
@import "../../../theme/common/mixin.scss";
:host {
  display: inline-block;
}
@include b(style-layout) {
  width: 100%;

  .inner-row-container,
  .row-container,
  .row-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .inner-row-container {
    height: 32px;

    .row-item {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      flex: 1;
      height: 100%;

      .row-item-title {
        width: 30px;
        font-size: 12px;
      }

      .next-number-picker {
        flex: 1;
        height: 100%;
      }

      .next-input-inner {
        width: 20px;
        text-align: center;
      }
    }
  }

  .row-container {
    margin-top: 10px;
    height: 32px;

    .row-item {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      flex: 1;
      height: 100%;

      .row-item-title {
        width: 50px;
        margin-right: 6px;
        font-size: 12px;
      }

      .row-item-content {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
  }
}
