@use "sass:map";
@import "../../theme/common/var.scss";
@import "../../theme/common/mixin.scss";
:host {
  display: inline-block;
}

@include b(radio-group) {
  font-size: inherit;
  color: inherit;
  height: inherit;

  &::after {
    width: 100%;
    content: "";
    display: inline-block;
  }
}
