@use "sass:map";
@use "sass:math";
@import "../../theme/common/var.scss";
@import "../../theme/common/mixin.scss";

@include b(steps) {
  width: 100%;
  height: 100%;
  display: flex;






  @include when(vertical) {

    @include b(steps-container) {
      height: 100%;
    }

    @include b(steps-content) {
      flex: 1
    }
  }

  @include when(horizontal) {
    flex-direction: column;
    @include b(steps-container) {
      width: 100%;
    }

    @include b(steps-content) {
      flex: 1;
    }
  }


  &-container{
    display: flex;
    //padding: 5px;
  }


  &-content {
    width: 100%;
    position: relative;

    &-slot {
      width: 100%;
      height: 100%
    }
  }
}