@use "sass:map";
@import "../../theme/common/var.scss";
@import "../../theme/common/mixin.scss";

.drop-container {
  width: 100%;
  height: 300px;
  margin-top: 20px;

  .upload-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.code-editor {
  width: 100%;
  height: 550px;
  margin-top: 20px;
}

.list-container {
  width: 100%;
  height: 400px;
  margin-top: 20px;
  overflow-y: auto;
}

.empty-container {
  width: 100%;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
